 <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    Danh mục sản phẩm
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="">Sản phẩm</a></li>
                    <li class="breadcrumb-item"><a ui-sref="product_categories">Danh mục sản phẩm</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thêm mới</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" novalidate name="frmAddProductCategory" ng-submit="AddProductCategory()">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Tên danh mục</label>
                                <input type="text" class="form-control" id="name" placeholder="Nhập tên danh mục" ng-model="productCategory.Name">
                            </div>
                            <div class="form-group">
                                <label for="alias">Tiêu đề SEO</label>
                                <input type="text" class="form-control" id="alias" placeholder="Nhập tiêu đề SEO" ng-model="productCategory.Alias">
                            </div>
                            <div class="form-group">
                                <label for="description">Mô tả ngắn</label>
                                <textarea class="form-control" id="description" placeholder="Mô tả ngắn" ng-model="productCategory.Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Danh mục cấp cha</label>
                                <select name="parentId" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in productCategories" class="form-control">
                                    <option value="">Danh mục gốc</option>
                                </select>
                                <input type="hidden" name="parentId" ng-model="productCategory.ParentID" />

                            </div>
                            <div class="form-group">
                                <label for="displayOrder">Thứ tự hiển thị</label>
                                <input type="text" class="form-control" id="displayOrder" placeholder="Thứ tự hiển thị" ng-model="productCategory.DisplayOrder">
                            </div>
                            <div class="form-group">
                                <label for="name">Meta Keyword</label>
                                <input type="text" class="form-control" id="metaDescription" placeholder="Nhập tên danh mục" ng-model="productCategory.MetaKeyword">
                            </div>
                            <div class="form-group">
                                <label for="name">Meta Description</label>
                                <textarea class="form-control" id="metaDescription" placeholder="Nhập tên danh mục" ng-model="productCategory.MetaDescription"></textarea>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="status" ng-model="productCategory.Status" ng-checked="productCategory.Status">
                                <label class="form-check-label" for="status">Kích hoạt</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="homeFlag" ng-model="productCategory.HomeFlag" ng-checked="productCategory.HomeFlag">
                                <label class="form-check-label" for="homeFlag">Hiển thị trang chủ</label>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button ui-sref="product_categories" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-success pull-right">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->