 <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    Danh mục sản phẩm
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Danh mục sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh mục sản phẩm</h3>
                        <div class="card-tools form-row">
                            <div class="col-7">
                                <div class="input-group input-group-sm w-100">
                                    <input type="text" name="table_search" class="form-control" placeholder="Search" ng-model="keyword">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default" ng-click="search()"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <a ui-sref="add_product_category" class="btn btn-primary btn-flat pt-1 pb-1">
                                    <i class="fa fa-plus-circle"></i>
                                    Thêm mới
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>ID</th>
                                <th>Tên danh mục</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                            <tr ng-repeat="item in productCategories">
                                <td>{{item.ID}}</td>
                                <td>{{item.Name}}</td>
                                <td>
                                    {{item.CreatedDate | date: 'dd/MM/yyyy hh:mm:ss'}}
                                </td>
                                <td><span ng-class="{'badge bg-success' :item.Status == true, 'badge bg-danger':item.Status == false}">{{item.Status | statusFilter}}</span></td>
                                <td>
                                    <button class="btn btn-flat btn-outline-primary" ui-sref="edit_product_category({id: item.ID})"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-flat btn-outline-danger"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <div class="pull-left">Trang: {{page +1}} - Tổng số trang: {{pagesCount}} - Tổng số bảng ghi: {{totalCount}}</div>
                        <!--paging-->
                        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProductCategories(page)"></pager-directive>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->